 <!-- Footer -->
 
<footer class="page-footer font-small">
 


    
  <div style='margin-left: 10px;' >© 2019:
    <a style='color: #20A128;' href="https://localhost:4200"> Bloomers</a>
    <img class="icon" width="100%" height="100%" src="../../assets/planticon.png" alt="">
  </div>
    <!-- <a routerLink='/'>Home</a>
    <i class="fas fa-home"></i>
    <a routerLink='/about'>About</a>
    <a routerLink='/product'>Products</a> -->

  <div class="links">
    <h3 routerLink='/'>Home</h3>
    <h3 routerLink='/about'>About</h3>
    <h3 routerLink='/product'>Products</h3>
  </div>
  


  

</footer>
<!-- Footer -->