footer {
    background-color: #0a2a0c !important;
    display: flex;
    justify-content: space-between;
   
}
.page-footer{
    padding-top: 0;
}
.icon {
    width: 7em;
    height: 7em;
}

.a {
    color: #20a128 !important;
}

.links {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding:2px;
}
.links h3{
    margin-right: 10px;
    margin-bottom: 0;
}

