 <!-- Footer -->
<footer class="page-footer font-small blue pt-4">
 
 <!-- Footer Links -->
 <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">BLOOMERS</h5>
        <p>Here we can put our logo</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <!-- <h5 class="text-uppercase">Links</h5> -->

         

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

         

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019:
    <a href="https://localhost:4200"> Bloomers</a>
    <a routerLink='/'>Home</a>
    <a routerLink='/about'>About</a>
    <a routerLink='/product'>Products</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->