h1 {
    text-align: center;
}

p {
    text-align: center;
}

li {
    text-align: center;
    list-style-position: inside;
}

img {

    padding-left: 10pt;
    padding-right: 5pt;
   
}

iframe {
    padding-right: 20pt;
    padding-left: 20pt;
}