<h1> About Your Neighborhood Bloomers</h1>

<p>
  Bloomers seeks to be the premier one-stop-shop for our clients, as we provide experienced landscape design and
  installation services, as well as routine landscape maintenance to ensure your lawn is always the envy of the
  neighborhood.
</p>
<p>
  Since 1425, Bloomers has been serving central Indiana by providing Hoosiers with quality products and expert advice
  with a culture of customer service. 
</p>
<p>
  Here are the professional services we provide:
</p>

  <ul>
    <li>Tree Nursery</li>
    <li>Plant Nursery</li>
    <li>Garden Nursery</li>
    <li>Landscape Center</li>
  </ul>

<p>Located on the northeast side of Indianapolis, our 50 acre nursery & landscape
    center is quite impressive, but we want to be known for more! We pride ourselves in providing exceptional landscape
    services to Indianapolis and the greater surrounding area.</p>
    
<iframe className="map" width="45%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=39.9667929, -86.0084342&amp;q=12175%20Visionary%20Way%2C%20Fishers%2C%20IN%2046038+(Bloomers)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create a route on google maps</a></iframe> 

<img className="pic" width="45%" height="400" src="../../assets/1150front.png" alt="store-front">

    <br />

  <p>
  At Bloomers we love our customers. If you have a question about plants, trees, shrubs, gift items, décor or anything
  else garden center related, we’d love to hear from you!
</p>

<app-contact></app-contact>