nav {
    /* background-color: #143916; */
    background-color: #0A2A0C;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 7em;
    height: 7em;
}

.sideNav{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
h3 {
    color: #20A128;
    margin-right: 10px;
    font-size: 2vw;
    cursor: pointer;
    outline: none;
}
@media only screen and (max-width: 800px){
    h3{
        font-size: 10pt;
    }
    button{
        font-size: 10pt;
        width: 50px;
    }
}
a:visited{
    color: black;
}
button{
    height: 30px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5px;
    background-color:#20A128;
    border-color:#20A128;
}
.login{
    margin:auto auto;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
}