<nav>
  <img class="icon" width="100%" height="100%" src="../../assets//planticon.png" alt="Plant Icon Logo">
  <div>
    <a routerLink='/'>Home</a>
    <a routerLink='/about'>About</a>
    <a routerLink='/product'>Products</a>
  </div>
  <button (click)='loginToggle()' >Login</button>
</nav>
<div class='login' *ngIf='loggedIn'>
  <form (ngSubmit)='login(email.value, password.value)' >
    <label for='email'>Email: </label>
    <input #email type='text' > <br />
    <label for='password'>Password: </label>
    <input #password type='text' >
    <button type='submit'>Login</button>
  </form>
</div>