<div class="pic">
  <img src="../../assets/icon-above-font (1).png"alt="plant logo">
</div>

<!-- Card -->
<div class="card card-image mb-2" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
      <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View project</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->

<!-- Card -->
<div class="card card-image mb-2" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
    <div>
      <h5 class="orange-text"><i class="fas fa-desktop"></i> Software</h5>
      <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
        Odit sed qui, dolorum!.</p>
      <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect><i class="far fa-clone left"></i> View
        project</a>
    </div>
  </div>
  <!-- Content -->
</div>
<!-- Card -->
