<div class="pic">
  <img src="../../assets/HomeIcon.png" alt="plant logo">
</div>
<hr />
<div *ngFor='let p of newProducts' class='deck'>
  <!-- Card -->
  <div class="card mb-2">
    <!-- Content -->
    <div class="cardContainer align-items-center rgba-black-strong">
      <div>
        <h3 class="card-title pt-2"><strong>{{ p.product_name }}</strong></h3>
        <img src='{{ p.product_image }}' alt='' >
        <a mdbBtn color="deep-orange" routerLink='/product' >View product</a>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->

</div>